<div class="flex items-center justify-center gap-6 text-gray-400 mt-4">
  <button
    (click)="previousPage()"
    [disabled]="currentPage === 1"
    class="p-2 rounded-lg border border-slate-700 hover:bg-slate-800 disabled:opacity-50"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 19.5 8.25 12l7.5-7.5"
      />
    </svg>
  </button>

  <p>
    Página <strong class="text-white">{{ currentPage }}</strong> de
    <strong class="text-white">{{ totalPages }}</strong>
  </p>

  <button
    (click)="nextPage()"
    [disabled]="currentPage === totalPages"
    class="p-2 rounded-lg border border-slate-700 hover:bg-slate-800 disabled:opacity-50"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m8.25 4.5 7.5 7.5-7.5 7.5"
      />
    </svg>
  </button>
</div>
